/*USER MESSAGING*/
#agave-user-messages {
	padding: 10px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 500;
	background-color: #444;
	border-top: 3px solid #aaa;
	border-left: 3px solid #aaa;
}
#agave-user-message-count {
	cursor: pointer;
	float: left;
	margin: 5px;
	color: #fff;
}
#agave-user-message-header {
	margin: 5px;
	color: #fff;
}
#agave-user-message-container {
	max-width: 400px;
	max-height: 300px;
	overflow: auto;
}
.agave-user-message {
	border: 1px solid #888;
	margin: 3px;
	background-color: #ddd;
	color: #444;
	padding: 5px;
}
.agave-user-message-remove {
	margin: 3px;
	cursor: pointer;
	color: #f44;
	float: right;
}