/* COLORS AND FONTS */
body {
	font-family: "Lucida Grande","Lucida Sans",sans-serif;
	color: #5B5E56;
	background-color: #d8d8c8; /* footer background color */
}

h1,h2,h3,h4,h5,h6 {
	color: #9FB03E;
}
a, a:visited, a:active {
	color: #9FB03E;
	text-decoration: none;
}
a:hover {
	color: #7F901E;
}
#admin-header {
	background-color: #2a2a2a;
	background-image: url(../images/white-gradient.png);
	background-repeat: repeat-x;
}
#admin-header-right li {
	font-size: 10px;
	text-transform: uppercase;
	list-style: none;
}
#admin-header-right div {
	text-transform: uppercase;
	font-size: 12px;	
}

#admin-nav {
	text-transform: uppercase;
	background-color: #96A83A;
	color: #fff;
	background-image: url(../images/white-gradient.png);
	background-repeat: repeat-x;
}
#admin-nav ul li a{
	color: #fff;
	padding: 10px;
}
#admin-subnav {
	background-color: #d3d2be;
	background-image: url(../images/white-gradient.png);
	background-repeat: repeat-x;
}
#error, #messages {
	background-color: #fff;
}

#messages ul {
	background-color:#EEFFCA;
	border:2px solid #DCD9C6;
	color:#5B5E56;	
}

#admin-float { /* bg of main area */
	background-color: #fff;
	min-height: 300px;
}

#siteName {
	font-size: 30px;
}

#siteSlogan {
	font-size: 12px;
	text-transform: uppercase;
	color: #777;
}

/* PAGE LAYOUT */
body {
	min-width: 800px;
}
	
#admin-header {
	height: 90px;
	width: 100%;
	clear: both;
}
#admin-header-right {
	float: right;
	padding: 10px;
	color: #777;
}
#admin-header-right div {
	clear: both;
	margin-top: 50px;
}
#admin-header-right ul {
	position: absolute;
	top: 0px;
	right: 10px;
	float: right;
}
#admin-header-right ul li {
	float: left;
	margin-right: 5px;
}
#admin-header-left {
	float: left;
	padding: 10px;
}
#admin-nav {
	width: 100%;
	height: 50px;
	clear: both;
}
#admin-subnav {
	width: 100%;
	height: 35px;
	z-index: -500;
	-clear: both;
}
#admin-main {
	width: 100%;
	padding-bottom: 20px;
	clear: both;
}
#admin-float {
	float: left;
	width: 100%;
}
#admin-content {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	-border: 1px solid #000;
	width: 90%;
	margin-left: 5%;
	
}
#admin-footer {
	background-image: url(../images/black-gradient.png);
	background-repeat: repeat-x;
	padding-top:30px;
	text-align: center;
	font-size: 10px;
	width: 100%;
	clear: both;
	background-color: #d8d8c8;
}
#agave-debug {
	position: absolute;
	top: 180px;
}
/* MENU */
#admin-nav ul.menu-root {
	list-style: none;
	padding: 0 10px;
	margin-left: 30px;
	float: left;
	font-size: .8em;
}
#admin-nav ul.menu-root li {
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
#admin-nav ul.menu-root li a {
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
#admin-nav ul.menu-root li a:hover{
	background-color: #d3d2be;
	border-bottom: 1px solid #d3d2be;
	color: #3a3a3a;
}
#admin-nav ul.menu-root li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
}

#admin-nav ul.menu-root li.selected a{
	color: #3a3a3a;
	border-bottom: 1px solid #d3d2be;
	background-color: #d3d2be;
}

#admin-nav ul.menu-root li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
#admin-nav ul.menu-root li ul.menu-sub {
	list-style: none;
	position: absolute; /*--Important - Keeps menu-sub from affecting main navigation flow--*/
	left: 0; top: 38px;
	margin: 0; padding: 0;
	display: none;
	width: 400px;
	background-color: transparent;
}
#admin-nav ul.menu-root li ul.menu-sub li{
	margin: 0; padding: 0;
	font-size: 10px;
	background-color: transparent;
}

html #admin-nav ul.menu-root li ul.menu-sub li a {
	border: none;
	color: #3a3a3a;
}
html #admin-nav ul.menu-root li ul.menu-sub li a:hover { /*--Hover effect for menu-sub links--*/
	border-bottom: 1px solid #3a3a3a;
	background-color: transparent;
}
/* FORMS */
.fm-button {
	background-color:#eeffca;
	border:1px solid #DCD9C6;
	color:#5B5E56;
	padding:5px 5px;
	margin: 5px;
	font-size: 9px;
	text-transform: uppercase;
}

.fm-button:hover {
	background-color:#96a845;
	color: #fff;
	cursor: pointer;
}

.fm-text, .fm-textarea, .fm-password {
	padding: 3px;
	border: 1px solid #DCD9C6;
	background: #FFFFFF url(../images/tralt-bg.jpg) repeat-x scroll left top;
}

/* TABLES */
#admin-main table {
	border-spacing: 0;
	border-collapse: collapse;
	max-width: 900px;
}
#admin-main table th {
	background-color: #90A530;
	color: #fff;
	text-transform: uppercase;
	padding: 5px;
	border: 1px solid #DCD9C6;
	font-size: 14px;
	background-image: url(../images/white-gradient.png);
	background-repeat: repeat-x;
}

#admin-main table tr.table-zebra {
	background-color: #f7f7f7;
}

#admin-main table tr:hover {
	background-color: #ececdc;
}

#admin-main table td {
	border: 1px solid #DCD9C6;
	-text-align: center;
	padding: 3px;
	font-size: 12px;
}

/* MISC */
#admin-page-controls {
	display: inline;
	padding: 0px 10px 10px 10px;
	marign-right: 10px;
	float: right;
	background-color:#dbdbcb;
	border:2px solid #b9b9a8;
	color:#5B5E56;
	
}

/*MODULES PAGE*/
tr.module-enabled {
	background-color: #efc;
}
tr.module-outdated{
	background-color: #fdd;
}
tr.module-disabled{
	background-color: #ddd;
}
.dependency-enabled {color: #080;}
.dependency-disabled {color: #800;}