#admin-main {
	clear: both;
}
#access-left-col {
	float: left;
	width: 200px;
}
#access-right-col {
	float: right;
	width: 600px;
}
.access-module-header {
	background-color: #444444;
	color: #fff;
}
.table-zebra {
	background-color: #F2F2FE;
}

.admin-access-cell {
	text-align: center;
}

#serialized-left {
	float: left;
	border-right: 1px solid #444444;
}
#serialized-right {
	float: right;
	border-left: 1px solid #444444;
}
.serialize-column {	
	width: 47%;
	padding: 5px;
	min-height: 400px;
	overflow: hidden;
}

.fm-button {
	display: block;
	float: right;
	padding: 5px;
	background-color: #f0e3ca;
	text-decoration: none;
	color: #444;
	border: 2px solid #444;
}

/* DEFAULT Admin menu styles */
#admin-nav ul.menu-root {
	list-style: none;
	padding: 0 10px;
	margin-bottom: 30px;
	margin-left: 30px;
	float: left;
	-width: 920px;
	background: #222;
	font-size: .8em;
}
#admin-nav ul.menu-root li {
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
#admin-nav ul.menu-root li a {
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
#admin-nav ul.menu-root li a:hover{
	background: url(../images/topnav_hover.gif) no-repeat center top;
	background-color: #222;
	color: #9999f2;
}
#admin-nav ul.menu-root li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top;
	-background-color: #777;
}
#admin-nav ul.menu-root li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
#admin-nav ul.menu-root li ul.menu-sub {
	list-style: none;
	position: absolute; /*--Important - Keeps menu-sub from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
#admin-nav ul.menu-root li ul.menu-sub li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
#admin-nav li.selected {
	color: #9999f2;
}
html #admin-nav ul.menu-root li ul.menu-sub li a {
	float: left;
	width: 145px;
	-background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html #admin-nav ul.menu-root li ul.menu-sub li a:hover { /*--Hover effect for menu-sub links--*/
	background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}

/* MODULE PAGE */
tr.module-enabled {
	background-color: #efc;
}
tr.module-outdated{
	background-color: #fdd;
}
tr.module-disabled{
	background-color: #ddd;
}

.dependency-enabled {color: #080;}
.dependency-disabled {color: #800;}